<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="side" position="end">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Home</a>
      <a mat-list-item routerLink="products">Products</a>
      <a mat-list-item routerLink="aboutUs">About us</a>
      <a mat-list-item routerLink="contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxFlex fxLayoutAlign="space-between center" fxLayout="row">
        <div>
          <span>ShopEase</span>
        </div>
        <div>
          <nav class="navbar-container"  *ngIf="!(isHandset$ | async)">
            <div fxLayout="row" fxLayoutGap="50px">
              <div>
                <a routerLink="home">Home</a>
              </div>
              <div>
                <a routerLink="products">Products</a>
              </div>
              <div>
                <a routerLink="aboutUs">About us</a>
              </div>
              <div >
                <a routerLink="contact">Contact</a>
              </div>
            </div>
          </nav>
          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div *ngFor="let product of filteredUsers()">
        <div>{{product!.name}}</div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
